<mat-toolbar color="accent" ><p class="align" id="abc">Request for quotation</p></mat-toolbar>
<div *ngIf="istoggle1">
<h2 style="font-weight:bold">RFQ header items</h2>
<mat-table [dataSource]="rfqheader" class="mat-elevation-z8" *ngIf="isavailable && !isprogress1">
    <ng-container matColumnDef="CO_CODE">
        <mat-header-cell *matHeaderCellDef>Company code</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CO_CODE}} </mat-cell>
      </ng-container>
    
  
      <ng-container matColumnDef="DOC_NO">
        <mat-header-cell *matHeaderCellDef> Document no</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DOC_NO}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="PUR_ORG">
        <mat-header-cell *matHeaderCellDef> Purchase org</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PUR_ORG}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PUR_GRP">
        <mat-header-cell *matHeaderCellDef>Purchase group</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PUR_GRP}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="EXCHG_RATE">
        <mat-header-cell *matHeaderCellDef>Exchange rate</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.EXCHG_RATE}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="DOC_DATE">
        <mat-header-cell *matHeaderCellDef> DOC date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DOC_DATE}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PROCEDURE">
        <mat-header-cell *matHeaderCellDef> Procedure</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PROCEDURE}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CURRENCY">
        <mat-header-cell *matHeaderCellDef> Currency</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CURRENCY}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CREATED_ON">
        <mat-header-cell *matHeaderCellDef>Created on</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CREATED_ON}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CREATED_BY">
          <mat-header-cell *matHeaderCellDef>Created by</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CREATED_BY}} </mat-cell>
        </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row;let ind=index; columns: displayedColumns;" (mouseover)="mouse(ind)" (click)="items(row)" (mouseout)="mouseout()" [ngClass] = "{'mat-elevation-z24 bold' : ind == index}" style="background: none;"></mat-row>
  </mat-table>
  <h4 class="alert alert-info" *ngIf="!isavailable"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
  <mat-spinner class="spin2" color="warn" diameter="70" *ngIf="isprogress1"></mat-spinner>
  </div>



