<mat-toolbar color="accent" ><p class="align" id="abc">Request for quotation</p></mat-toolbar>
<mat-button-toggle-group [(ngModel)]="toggle" style="margin-left:45%; font-weight:bold" (click)="dotoggle()">
  <mat-button-toggle value="header">Header</mat-button-toggle>
  <mat-button-toggle value="line">Line</mat-button-toggle>
  <mat-button-toggle value="both">Both</mat-button-toggle>
</mat-button-toggle-group>
<h4 style="font-weight:bold">Document number</h4>
<div fxLayout="row">
    <mat-form-field appearance="fill">
      <mat-label>Document number</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let item of rfqline" [value]="item.DOC_NO" (click)="get_rfq()">
          {{item.DOC_NO}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-spinner class="spin1" color="accent" diameter="40" *ngIf="isprogress2"></mat-spinner>
    </div>
<div *ngIf="istoggle1">
<h2 style="font-weight:bold">RFQ header items</h2>
<mat-table [dataSource]="header" class="mat-elevation-z8" *ngIf="isavailable">
    <ng-container matColumnDef="CO_CODE">
        <mat-header-cell *matHeaderCellDef>Company code</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CO_CODE}} </mat-cell>
      </ng-container>
    
  
      <ng-container matColumnDef="DOC_NO">
        <mat-header-cell *matHeaderCellDef> Document no</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DOC_NO}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="PUR_ORG">
        <mat-header-cell *matHeaderCellDef> Purchase org</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PUR_ORG}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PUR_GRP">
        <mat-header-cell *matHeaderCellDef>Purchase group</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PUR_GRP}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="EXCHG_RATE">
        <mat-header-cell *matHeaderCellDef>Exchange rate</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.EXCHG_RATE}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="DOC_DATE">
        <mat-header-cell *matHeaderCellDef> DOC date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DOC_DATE}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PROCEDURE">
        <mat-header-cell *matHeaderCellDef> Procedure</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PROCEDURE}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CURRENCY">
        <mat-header-cell *matHeaderCellDef> Currency</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CURRENCY}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CREATED_ON">
        <mat-header-cell *matHeaderCellDef>Created on</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.CREATED_ON}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CREATED_BY">
          <mat-header-cell *matHeaderCellDef>Created by</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CREATED_BY}} </mat-cell>
        </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <h4 class="alert alert-info" *ngIf="!isavailable"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
  </div>
  <div *ngIf="istoggle2">
  <h2 style="font-weight:bold">RFQ line items</h2>
  <mat-table [dataSource]="line" class="mat-elevation-z8" *ngIf="isavailable1">
    <ng-container matColumnDef="DOC_NO">
      <mat-header-cell *matHeaderCellDef>Document no</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_NO}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="DOC_ITEM">
      <mat-header-cell *matHeaderCellDef> Document item</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_ITEM}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="DESCRIPTION">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="MATERIAL">
        <mat-header-cell *matHeaderCellDef>Material</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.MATERIAL}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="PUR_MAT">
        <mat-header-cell *matHeaderCellDef>Purchase material</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PUR_MAT}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CO_CODE">
          <mat-header-cell *matHeaderCellDef>Company code</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CO_CODE}}</mat-cell>
        </ng-container>
    <ng-container matColumnDef="PLANT">
      <mat-header-cell *matHeaderCellDef>Plant</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.PLANT}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="QUANTITY">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.QUANTITY}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="UNIT">
      <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.UNIT}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="MAT_GRP">
      <mat-header-cell *matHeaderCellDef> Material group</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.MAT_GRP}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
  </mat-table>
  <h4 class="alert alert-info" *ngIf="!isavailable1"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
  </div>



