<mat-toolbar color="accent" ><p class="align" id="abc">Inquiry data</p></mat-toolbar>
<div *ngIf="istoggle1">
<h2 style="font-weight:bold">Inquiry header items</h2>
<mat-table [dataSource]="header" class="mat-elevation-z8" *ngIf="isavailable && !isprogress1">
    <ng-container matColumnDef="OPER">
      <mat-header-cell *matHeaderCellDef> Operation </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.OPER}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="REC_DATE">
      <mat-header-cell *matHeaderCellDef> Record date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.REC_DATE}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="REC_TIME">
      <mat-header-cell *matHeaderCellDef> Record time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.REC_TIME}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="CREATED_BY">
      <mat-header-cell *matHeaderCellDef> Created by</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CREATED_BY}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DOC_DATE">
      <mat-header-cell *matHeaderCellDef> DOC date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_DATE}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="TRAN_GROUP">
      <mat-header-cell *matHeaderCellDef> Tran group</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.TRAN_GROUP}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DOC_TYPE">
      <mat-header-cell *matHeaderCellDef> DOC type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_TYPE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="NET_VAL">
      <mat-header-cell *matHeaderCellDef> Net value</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.NET_VAL}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CURRENCY">
      <mat-header-cell *matHeaderCellDef> Currency</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CURRENCY}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="SALES_ORG">
      <mat-header-cell *matHeaderCellDef> Sales Org</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SALES_ORG}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row;let ind=index; columns: displayedColumns;" (mouseover)="mouse(ind)" (click)="items(row)" (mouseout)="mouseout()" [ngClass] = "{'mat-elevation-z24 bold' : ind == index}" style="background: none;"></mat-row>
  </mat-table>
  <h4 class="alert alert-info" *ngIf="!isavailable"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
  <mat-spinner class="spin2" color="warn" diameter="70" *ngIf="isprogress1"></mat-spinner>
  </div>