<mat-toolbar color="accent" ><p class="align" id="abc">Goods receipt</p></mat-toolbar>
<div *ngIf="istoggle1">
<h2 style="font-weight:bold">GR header items</h2>
<mat-table [dataSource]="grheader" class="mat-elevation-z8" *ngIf="isavailable && !isprogress2">
  <ng-container matColumnDef="DOC_NO">
      <mat-header-cell *matHeaderCellDef>Document no</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_NO}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="DOC_YEAR">
      <mat-header-cell *matHeaderCellDef> Document year</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_YEAR}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DOC_DATE">
      <mat-header-cell *matHeaderCellDef>Document date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_DATE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PSTNG_DATE">
      <mat-header-cell *matHeaderCellDef>Posting date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.PSTNG_DATE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ENTRY_DATE">
      <mat-header-cell *matHeaderCellDef>Entry date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ENTRY_DATE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="USERNAME">
      <mat-header-cell *matHeaderCellDef> User name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.USERNAME}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="TR_EV_TYPE">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.TR_EV_TYPE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="VERSION">
      <mat-header-cell *matHeaderCellDef>Version</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.VERSION}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="REF_NO">
      <mat-header-cell *matHeaderCellDef>Reference no</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.REF_NO}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="REF">
        <mat-header-cell *matHeaderCellDef>Reference</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.REF}} </mat-cell>
      </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row;let ind=index; columns: displayedColumns;" (mouseover)="mouse(ind)" (click)="items(row)" (mouseout)="mouseout()" [ngClass] = "{'mat-elevation-z24 bold' : ind == index}" style="background: none;"></mat-row>
</mat-table>
<h4 class="alert alert-info" *ngIf="!isavailable"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
<mat-spinner class="spin2" color="warn" diameter="70" *ngIf="isprogress2"></mat-spinner>
  </div>



