.div1{
    padding: 0px;
}
.div2{
    padding: 20px;
}
.div3{
    margin-right: auto;
}
.div4{
    background-image:url("E:\kaar_internship\portals\customer portal\angular\portal\src\assets\images\sap4.jpg");
    background-size: 100% ;  
    background-size:cover;
}
.div5{
    margin-right: auto;
}
.div6{
    margin: auto;
}
