<mat-grid-list cols="1" rowHeight="18:1">
    <mat-grid-tile *ngFor="let item of data.WAGES1; index as i">
        <mat-card style="width:50%">
            <div fxLayout="row">
            <b>{{item.DESC}}</b><p [ngClass]="{'class1' : i==0,'class2' : i==1,'class3' : i==2}">: {{item.AMT}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width:50%">
            <div fxLayout="row">
            <b>Gross salary</b><p style="margin-left: 37.5%;">: {{data.GROSS_SAL}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width:50%">
            <div fxLayout="row">
            <b>Additional pay</b><p style="margin-left: 36%;">: {{data.ADD_PAY}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width:50%">
            <div fxLayout="row">
            <b>Deductions</b><p style="margin-left: 38%;">: {{data.DED_AMT}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width:50%">
            <div fxLayout="row">
            <b>Net salary</b><p style="margin-left: 39%;">: {{data.NET_SAL}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="6:1" *ngIf="isavailable1 && !isprogress1">
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>First name</b><p style="margin-left: 40%;">: {{data.FNAME}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Last name</b><p style="margin-left: 42%;">: {{data.LNAME}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Company code</b><p style="margin-left: 35%;">: {{data.COMPCODE}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Company</b><p style="margin-left: 43%;">: {{data.COMP}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Joining date</b><p style="margin-left: 38%;">: {{data.JOINING_DATE}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Leaving date</b><p style="margin-left: 38%;">: {{data.LEAVING_DATE}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Cost center</b><p style="margin-left: 39%;"> : {{data.CCENTER}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Description</b><p style="margin-left: 39%;">: {{data.CCENTER_DESC}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Job position</b><p style="margin-left: 38%;">: {{data.JOB}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Tenure_period</b><p style="margin-left: 36%;">: {{data.TEN_PERIOD}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Department</b><p style="margin-left: 38%;">: {{data.DEP}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Division</b><p style="margin-left: 43.5%;">: {{data.DIVISION}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>Approver</b><p style="margin-left: 40%;">: {{data.APPROVER}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div fxLayout="row">
            <b>No of leaves</b><p style="margin-left: 37.5%;">: {{data.LEAVES}}</p>
            </div>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


  