<mat-toolbar color="accent" ><p class="align" id="abc">Invoice details</p></mat-toolbar>
<h2 style="font-weight:bold">Invoice header items</h2>
<mat-table [dataSource]="invhead" class="mat-elevation-z8" *ngIf="isavailable1 && !isprogress2">
  <ng-container matColumnDef="INV_NO">
      <mat-header-cell *matHeaderCellDef>Document no</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.INV_NO}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="FISC_YEAR">
      <mat-header-cell *matHeaderCellDef> Fiscal year</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.FISC_YEAR}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DOC_DATE">
      <mat-header-cell *matHeaderCellDef>Document date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_DATE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PSTNG_DATE">
      <mat-header-cell *matHeaderCellDef>Posting date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.PSTNG_DATE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ENTRY_DATE">
      <mat-header-cell *matHeaderCellDef>Entry date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ENTRY_DATE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ENTRY_TIME">
      <mat-header-cell *matHeaderCellDef> Entry time</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ENTRY_TIME}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="COMP_CODE">
      <mat-header-cell *matHeaderCellDef>Company code</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.COMP_CODE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="GROSS_AMNT">
      <mat-header-cell *matHeaderCellDef>Gross amount</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.GROSS_AMNT}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CURRENCY">
      <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CURRENCY}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="INVOICE_STATUS">
        <mat-header-cell *matHeaderCellDef>Invoice status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.INVOICE_STATUS}} </mat-cell>
      </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row;let ind=index; columns: displayedColumns;" (mouseover)="mouse(ind)" (click)="invoicepdf(row)" (mouseout)="mouseout()" [ngClass] = "{'mat-elevation-z24 bold' : ind == index}" style="background: none;"></mat-row>
</mat-table>
<h4 class="alert alert-info" *ngIf="!isavailable1"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
<mat-spinner class="spin2" color="warn" diameter="70" *ngIf="isprogress2"></mat-spinner>
<h2 style="font-weight:bold">Invoice pdf</h2>
<iframe *ngIf="isavailable && !isprogress1" [src]="veninv1 | safe" type="application/pdf" width="100%" height="100%"></iframe>
<h4 class="alert alert-info" *ngIf="!isavailable"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
<mat-spinner class="spin2" color="warn" diameter="70" *ngIf="isprogress1"></mat-spinner>
  