<mat-toolbar color="accent" ><p class="align" id="abc">Delivery data</p></mat-toolbar>
<h2 style="font-weight:bold">Delivery header items</h2>
<mat-table [dataSource]="deliveryheader" class="mat-elevation-z8" *ngIf="isavailable && !isprogress1">
    <ng-container matColumnDef="VBELN">
      <mat-header-cell *matHeaderCellDef> Sales doc </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.VBELN}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="VSTEL">
      <mat-header-cell *matHeaderCellDef>Shipping point</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.VSTEL}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="WADAT">
      <mat-header-cell *matHeaderCellDef> Planned GI date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.WADAT}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="INCO2">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.INCO2}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="NTGEW">
      <mat-header-cell *matHeaderCellDef> Net weight</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.NTGEW}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="GEWEI">
        <mat-header-cell *matHeaderCellDef> Weight unit</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.GEWEI}}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="LFART">
      <mat-header-cell *matHeaderCellDef> Delivery type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.LFART}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ERDAT">
      <mat-header-cell *matHeaderCellDef> Created date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ERDAT}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ERNAM">
      <mat-header-cell *matHeaderCellDef> Created by</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ERNAM}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="VKORG">
      <mat-header-cell *matHeaderCellDef> Sales Org</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.VKORG}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row;let ind=index; columns: displayedColumns;" (mouseover)="mouse(ind)" (click)="items(row)" (mouseout)="mouseout()" [ngClass] = "{'mat-elevation-z24 bold' : ind == index}" style="background: none;"></mat-row>
  </mat-table>
  <h4 class="alert alert-info" *ngIf="!isavailable"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
  <mat-spinner class="spin2" color="warn" diameter="70" *ngIf="isprogress1"></mat-spinner>