<mat-toolbar color="accent" ><p class="align" id="abc">Sales data</p></mat-toolbar>
<h2 style="font-weight:bold">Sales orders</h2>
<mat-table [dataSource]="salesorders" class="mat-elevation-z8" *ngIf="isavailable">
  
    <ng-container matColumnDef="SD_DOC">
      <mat-header-cell *matHeaderCellDef>SD doc</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SD_DOC}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="ITM_NUMBER">
      <mat-header-cell *matHeaderCellDef> Item no</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ITM_NUMBER}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="MATERIAL">
      <mat-header-cell *matHeaderCellDef> Material</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.MATERIAL}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="SHORT_TEXT">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SHORT_TEXT}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="NAME">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.NAME}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DOC_DATE">
      <mat-header-cell *matHeaderCellDef> DOC date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_DATE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="NET_VAL">
      <mat-header-cell *matHeaderCellDef> Net value</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.NET_VAL}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CURRENCY">
      <mat-header-cell *matHeaderCellDef> Currency</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CURRENCY}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="SALES_ORG">
      <mat-header-cell *matHeaderCellDef> Sales Org</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SALES_ORG}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="EXCHG_RATE">
        <mat-header-cell *matHeaderCellDef> Exchange rate</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.EXCHG_RATE}} </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <h4 class="alert alert-info" *ngIf="!isavailable"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
  
