<mat-toolbar color="accent" ><p class="align" id="abc">Sales data</p></mat-toolbar>
<div *ngIf="istoggle1">
<h2 style="font-weight:bold">Sales orders header items</h2>
<mat-table [dataSource]="salesorders" class="mat-elevation-z8" *ngIf="isavailable && !isprogress1">
  
    <ng-container matColumnDef="SD_DOC">
      <mat-header-cell *matHeaderCellDef>SD doc</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SD_DOC}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="NAME">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.NAME}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DOC_DATE">
      <mat-header-cell *matHeaderCellDef> DOC date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.DOC_DATE}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CURRENCY">
      <mat-header-cell *matHeaderCellDef> Currency</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.CURRENCY}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="SALES_ORG">
      <mat-header-cell *matHeaderCellDef> Sales Org</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SALES_ORG}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="EXCHG_RATE">
        <mat-header-cell *matHeaderCellDef> Exchange rate</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.EXCHG_RATE}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="DIVISION">
        <mat-header-cell *matHeaderCellDef>Division</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DIVISION}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PLANT">
        <mat-header-cell *matHeaderCellDef>Plant</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.PLANT}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="STORE_LOC">
        <mat-header-cell *matHeaderCellDef>Store location</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.STORE_LOC}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="SHIP_POINT">
        <mat-header-cell *matHeaderCellDef> Shipping point</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.SHIP_POINT}} </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row;let ind=index; columns: displayedColumns;" (mouseover)="mouse(ind)" (click)="items(row)" (mouseout)="mouseout()" [ngClass] = "{'mat-elevation-z24  bold' : ind == index}" style="background: none;"></mat-row>
  </mat-table>
  <h4 class="alert alert-info" *ngIf="!isavailable"><p class="align" style="margin-left:45%; font-weight:bold">No details found</p></h4>
  <mat-spinner class="spin2" color="warn" diameter="70" *ngIf="isprogress1"></mat-spinner>
  </div>