<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" routerLink="customer">Customer portal</a>
          <a class="nav-link" routerLink="vendor">Vendor portal</a>
          <a class="nav-link" routerLink="employee">Employee portal</a>
          <span id="git"><a class="nav-link" href="#"></a></span>
        </div>
        
      </div>
     
    </div>
  
  </nav> -->
  <mat-toolbar color="primary">
    <img class="img3" src="../../assets/logos/kaar.svg">
    <a class="nav-link" routerLink="customer">Customer portal</a>
    <a class="nav-link" routerLink="vendor">Vendor portal</a>
    <a class="nav-link" routerLink="employee">Employee portal</a>
    <a  href="https://github.com/Balamurugan55/portal"><img class="img1" src="../../assets/logos/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png"></a>
  </mat-toolbar>
  <div class="back anime">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
  <div class="content">
    <br><br><br>
    <!-- <h2 style="color: aqua">About portal</h2>
    <p class="porcontent"> Focused on the activites of customers, vendors and employees</p>
    <p class="porcontent">Displaying the details of customers, vendors and employees</p>
    <p class="porcontent">customizing the details of their profiles</p>
    <p class="porcontent">Many new advanced features are available to endusers</p><br><br><br> -->
  <h2 style="color: aqua;">About Kaar</h2>
  <p class="porcontent">Kaar Technologies is a global consulting firm focused at designing, delivering and deploying the finest ideas.<br><br>

    Our combined thrust drawn from the business vision of our leadership team and assimilated SAP capability.<br><br> As a CMMi level 3 company, Kaar believes in being a trusted advisor to client.
    
    <br><br>Driven by the steadfast pursuit of excellence, Kaar Technologies exudes professionalism and proficiency.</p>

</div>
</div>