<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" routerLink="customer">Customer portal</a>
          <a class="nav-link" routerLink="vendor">Vendor portal</a>
          <a class="nav-link" routerLink="employee">Employee portal</a>
          <span id="git"><a class="nav-link" href="#"></a></span>
        </div>
        
      </div>
     
    </div>
  
  </nav> -->
  <mat-toolbar color="primary" >
    <img class="img3" src="../../assets/logos/kaarlogo.jpg">
    <a class="nav-link" routerLink="customer">Customer portal</a>
    <a class="nav-link" routerLink="vendor">Vendor portal</a>
    <a class="nav-link" routerLink="employee">Employee portal</a>
    <a  href="https://github.com/Balamurugan55/portal"><img class="img1" src="../../assets/logos/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png"></a>
    <a href="https://github.com/Balamurugan55/portal"><img  class="img2" src="../../assets/logos/GitHub-Logos/GitHub_Logo_White.png"></a>
  </mat-toolbar>
  <div class="back">
  <h2 style="color: black">About Kaar</h2>
  <p>Kaar Technologies is a global consulting firm focused at designing, delivering and deploying the finest ideas and SAP expertise to empower companies in achieving new heights of excellence in today’s challenging business landscape.<br>

    Our combined thrust drawn from the business vision of our leadership team and assimilated SAP capability propels us to partner with our clients in identifying and architecting their business agenda. As a CMMi level 3 company, Kaar believes in being a trusted advisor to clients and fosters long-term working relationships by exceeding customer expectations.<br>
    
    Driven by the steadfast pursuit of excellence, Kaar Technologies exudes professionalism and proficiency in all areas of function. Every day we are inspired to impact businesses with original and imaginative approaches and help cultivate tomorrow’s breakthroughs.</p>
<h2 style="color: black">About portal</h2>
<p> This portal mainly focused on the activites of customer vendors and employees</p>
<p>Displaying the details of customers vendors and employees</p>
<p>customizing the details of their profiles</p>
<p>Many new advanced features are available to endusers</p>
</div>