.back{
    background-size: 100% ;  
    background-size:cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    font-size: larger;
    color: white;
    height:auto;
}
.content{
    margin: 5%;
}
h2{
    font-size:40px;
}
.porcontent{
    font-size: xx-large;
    margin-left: 2%;
    color: white;
    background-clip: initial;
    height:fit-content;
    padding:20px;
    text-align: justify;
  text-justify: inter-word;
  line-height: normal;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color:yellow;
}

.img1{
    display: inline;
    width: auto;
    height: auto;
    margin-left:900px;
}
.img3{
    display: inline;
    width: 4%;
    height: 80%;
}